* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: default;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Varela Round", sans-serif;
}

#desktop {
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 36px 5px 5px 5px;
}

.desktop-icon {
    width: 80px;
    text-align: center;
    color: white;
    margin-bottom: 32px;
}

.desktop-icon .icon-image>img {
    width: 32px;
    margin-bottom: 4px;
}

.desktop-icon .icon-label {
    color: white;
    text-shadow: 1px 1px 2px black;
}

#dock {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    height: 60px;
    padding: 8px 12px;
    border-radius: 9px;
    background: var(--ui-dock-background-color);
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--ui-text);
    backdrop-filter: blur(10px) saturate(4) brightness(0.5) hue-rotate(340deg);
}

#dock-icons,
#dock-windows {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Iconos de app en dock */
.dock-app-icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dock-app-icon img {
    width: 48px;
    height: 48px;
}

.dock-tooltip {
    position: fixed;
    z-index: 999999;

    background: var(--ui-dock-background-color);
    color: var(--ui-dock-text-color);
    backdrop-filter: blur(10px) saturate(4) brightness(0.5) hue-rotate(340deg);
    -webkit-backdrop-filter: blur(10px) saturate(4) brightness(0.5) hue-rotate(340deg);

    padding: 6px 10px;
    border-radius: 9px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease, transform 0.15s ease;

    transform: translate(-50%, 5px);
}


.dock-app-icon.open::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 3px;
    background: var(--ui-dock-text-color);
    border-radius: 4px;
}

/* mostrar */
.dock-app-icon:hover::after {
    opacity: 1;
}

.dock-window-menu {
    position: fixed;
    transform: translateX(-50%);
    background: var(--ui-dock-background-color);
    backdrop-filter: blur(10px) saturate(4) brightness(0.5) hue-rotate(340deg);
    border-radius: 9px;
    padding: 6px;
    min-width: 180px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    z-index: 10000;
    animation: dockMenuFade 0.15s ease-out;
}

@keyframes dockMenuFade {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.dock-window-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 6px 10px;
    color: var(--ui-dock-text-color);
}

.dock-window-menu-item:hover {
    backdrop-filter: invert(1);
    border-radius: 3px;
}

.dock-window-title {
    flex: 1;
}

.window {
    position: absolute;
    background: var(--ui-window-background-color);
    border-radius: 9px;
    border: 1px solid #d5d5d5cc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    backdrop-filter: blur(10px) saturate(4) brightness(0.5) hue-rotate(340deg);
    transition:
        transform 0.2s cubic-bezier(0.2, 1.1, 0.3, 1),
        opacity 0.12s ease;
    transform-origin: center center;
    will-change: transform, opacity;
    backface-visibility: hidden;
}

.window.minimizing {
    pointer-events: none;
}

.window.minimized {
    opacity: 0;
}

.window.opening {
    transform: scale(0.85);
    opacity: 0;
}

.window.closing {
    transform: scale(0.85);
    opacity: 0;
    pointer-events: none;
}

.window.active {
    z-index: 9999;
    box-shadow: 0 0 0 0 #616161cc, 0 5px 12px rgba(0, 0, 0, 0.6);
    background: var(--ui-window-active-background-color);
}

.window-toolbar {
    padding: 0px 6px 6px 6px;
}

.window-titlebar {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.window-title {
    font-weight: 500;
    color: #222;
}

.window-buttons {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
    padding: 6px;
}

.window-buttons button {
    width: 24px;
    height: 12px;
    border-radius: 3px;
    border: none;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    transition: background-color 0.12s ease;
}

.btn-minimize,
.btn-maximize {
    background-color: var(--ui-bg-secondary);
}

.btn-minimize {
    background-image: url('/assets/ui/minimize.svg');
}

.btn-maximize {
    background-image: url('/assets/ui/maximize.svg');
}

.window.active .btn-close {
    background-color: var(--ui-window-button-close);
    background-image: url('/assets/ui/close.svg');
}

.window:not(.active) .btn-close {
    background-color: var(--ui-bg-secondary);
    background-image: url('/assets/ui/close.svg');
}

.window-buttons:hover .btn-minimize {
    background-color: var(--ui-window-button-minimize);
}

.window-buttons:hover .btn-maximize {
    background-color: var(--ui-window-button-maximize);
}

.window-buttons:hover .btn-close {
    background-color: var(--ui-window-button-close);
}

.window-buttons .btn-minimize:hover {
    background-color: var(--ui-window-button-minimize-hover);
}

.window-buttons .btn-maximize:hover {
    background-color: var(--ui-window-button-maximize-hover);
}

.window-buttons .btn-close:hover {
    background-color: var(--ui-window-button-close-hover);
}


/* Contenido */
.window-content {
    flex: 1;
    margin: 0px 6px 6px 6px;
    border-radius: 3px;
    background: #fff;
    overflow: auto;
}

/* Para modo maximizado */
.window.maximized {
    box-shadow: none;
}

.window-resizer {
    width: 12px;
    height: 12px;

    position: absolute;
    right: 0;
    bottom: 0;

    cursor: nwse-resize;
}


#statusbar {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 10px);
    height: fit-content;

    padding: 3px 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--ui-dock-background-color);
    backdrop-filter: blur(10px) saturate(4) brightness(0.5) hue-rotate(340deg);

    border-radius: 9px;
    color: var(--ui-dock-text-color);
}

.statusbar-left,
.statusbar-center,
.statusbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.statusbar-center {
    flex: 1;
    justify-content: center;
}

#date,
#hour {
    font-weight: 500;
}